# base packages: flake8 flake8-commas flake8-docstrings flake8-isort flake8-encodings flake8_strftime
#                flake8-secure-coding-standard flake8-slots flake8-string-format darglint
#                flake8-useless-assert flake8-warnings flake8-comprehensions tryceratops
#                flake8-datetimez flake8-implicit-str-concat flake8-return flake8-scream
#                flake8-too-many flake8-broken-line flake8-pep3101 flake8-print flake8-use-pathlib
#                flake8-functions-names flake8-variables-names pep8-naming flake8-bugbear

# broken packages for now: flake8_strftime flake8-slots flaek8-warnings
# for flake8_strtime use this repo: https://github.com/wwuck/flake8_strftime#master

# project specific packages: flake8-fastapi flake8-django flake8-django-migrations

# multi_line_output types: https://github.com/timothycrosley/isort#multi-line-output-modes


[flake8]
max-line-length = 100
show-source = True
statistics = False

doctests = True
docstring-convention = google

exclude =
    .git
    __pycache__
    .venv
    .eggs
    *.egg
    dist
    tests/fixtures/**
    tests/**/snapshots/**
    migrations
    alembic
    airich

ignore =
    D100
    W503
    B008
    D104
    ISC003
    SCS108


[darglint]
docstring_style=google
strictness=long


[isort]
include_trailing_comma = true
use_parentheses = true
multi_line_output = 5
line_length = 100

default_section = THIRDPARTY
skip_glob =
  tests/fixtures/**
  tests/**/snapshots/**

